<main>
    <h1>Restaurar contrase単a</h1>

    <p>Por favor, ingrese su nueva contrase単a</p>

    <form id="formResetPassword">
        <input type="password" id="newPassword" placeholder="Nueva contrase単a" required>
        <button type="submit" class="btn btn-outline-dark">Restablecer contrase単a</button>
    </form>

</main>

<script src="/js/restorePassword.js"></script>