<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike.</title>
    {{!-- aca paso el css para todos --}}
</head>

<body>
    {{!-- voy a contener todas las plantillas y es mi archivo principal --}}
    {{{ body }}}
    {{!-- aca tendria que insertar los productos  --}}
</body>

</html>